*{ 
    /* outline:1px solid white; */
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    align-items: center;
    min-height: 100vh;
    color:#eee;
    background-color: #222831;
    overflow-x: hidden;
}
#header{
    text-align: center;
    font-family: "Press Start 2P", "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #fac650;
    background-color: #111720;
    flex: 0 0 auto;
    width: 100vw;
    padding: 50px 0;
}
#scoreboard{
    flex: 0 0 auto;
    /* max-height: 40vh; */
    text-align: center;
    margin: 20px;
}
img{
    height:70px;
    padding-bottom: 15px;
}

#buttons{
    flex: 0 0 auto;
}
.sign{
    background-color:#393E46 ;
    height: 160px;
    width: 160px;
    border-radius: 16px;
    color: #eee;
    font-size:80px;
    margin: 16px;
}
.sign:hover{
    background-color: #4a4f57;
}
.sign:active{
    background-color: #5b5f68;
}
#footer{
    flex: 0 0 auto;
    width: 100vw;
    text-align: center;
    font-size: 20px;
    padding: 12px 0px;
    margin-top:auto;
}
.score-card{
    height:180px;
    width:160px;
    text-align: center;
    font-size: 24px;
    /* outline: 1px solid white; */
    border-radius: 12px;
    font-weight: 500;
}
#score-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    flex: 0 0 auto;
}
h1{
    margin: 30px auto 10px auto;
}
h2{
    margin-bottom: 40px;
    font-size: 22px;
}
#player-sign, #bot-sign {
    font-size: 85px;
    margin-bottom: 20px;
}


.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white;
  display: inline-block;
  max-width: 0;
  animation: 
    typing 1.5s steps(19, end) forwards,
    blink 0.7s step-end 3,
    removeCursor 0s linear 2s forwards;
}
@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}
@keyframes blink {
  50% { border-color: transparent; }
}
@keyframes removeCursor {
  to { border-right: none; }
}

#play-again{
    font-size: 26px;
    font-weight: 600;
    width: 250px;
    height: 70px; 
}