*{ 
    /* outline:1px solid white; */
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    align-items: center;
    min-height: 100vh;
    color:#eee;
    background-color: #222831;
}
#header{
    text-align: center;
    font-family: "Press Start 2P", "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fac650;
    background-color: #111720;
    flex: 0 0 auto;
    width: 100vw;
    padding: 50px 0;
}
#scoreboard{
    flex: 1 0 auto;
    max-height: 40vh;
    text-align: center;
}
img{
    height:70px
}

#buttons{
    flex: 0 0 auto;
}
.sign{
    background-color:#393E46 ;
    height: 160px;
    width: 160px;
    border-radius: 20px;
    color: #eee;
    font-size:80px;
    margin: 15px;
}
#footer{
    flex: 0 0 auto;
    width: 100vw;
    text-align: center;
    font-size: 20px;
    padding: 12px 0px;
    margin-top:auto;
}
.score-card{
    height:150px;
    width:150px;
    text-align: center;
    line-height: 150px;
    font-size: 25px;
    outline: 1px solid white;
    border-radius: 12px;
}
#score-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    flex: 0 0 auto;
}
h1{
    margin: 30px auto 10px auto;
}
h2{
    margin-bottom: 40px;
}